.audio-action-container
	audio(id="shareClick" preload="preload")
		source(src="./audio/analogue_click1.mp3" type="audio/mpeg")
		source(src="./audio/analogue_click1.wav" type="audio/wav")

	audio(id="shareHover" preload="preload")
		source(src="./audio/blip_click.mp3" type="audio/mpeg")
		source(src="./audio/blip_click.wav" type="audio/wav")

		
	audio(id="closeClick" preload="preload")
		source(src="./audio/echo_deny.mp3" type="audio/mpeg")
		source(src="./audio/echo_deny.wav" type="audio/wav")
		
	audio(id="iconShareClick" preload="preload")
		source(src="./audio/melodic1_click.mp3" type="audio/mpeg")
		source(src="./audio/melodic1_click.wav" type="audio/wav")

	audio(id="filterHover" preload="preload")
		source(src="./audio/melodic3_affirm.mp3" type="audio/mpeg")
		source(src="./audio/melodic3_affirm.wav" type="audio/wav")

	audio(id="iconShareHover" preload="preload")
		source(src="./audio/melodic4_affirm.mp3" type="audio/mpeg")
		source(src="./audio/melodic4_affirm.wav" type="audio/wav")

	audio(id="filterClick" preload="preload")
		source(src="./audio/melodic5_affirm.mp3" type="audio/mpeg")
		source(src="./audio/melodic5_affirm.wav" type="audio/wav")
		
.audio-action--toggle-container
	audio(id="soundOn" preload="preload")
		source(src="./audio/round_pop_click1.mp3" type="audio/mpeg")
		source(src="./audio/round_pop_click1.wav" type="audio/wav")

	audio(id="soundOff" preload="preload")
		source(src="./audio/round_pop_click2.mp3" type="audio/mpeg")
		source(src="./audio/round_pop_click2.wav" type="audio/wav")

