svg(version='1.1', id='burger', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 76 70', byle='enable-background:new 0 0 76 70;', xml:space='preserve')
	style(type='text/css').
		.b0{fill:#9A3725;}
		.b1{fill:#ED832C;}
		.b2{fill:#20AC73;}
		.b3{fill:#FDC83E;}
		.b4{opacity:0.5;fill:#FFFFFF;enable-background:new;}
		.b5{fill:#FFFFFF;}
		.b6{fill:#FCC673;}
	path.b0(d='M74,28.5c0,1.1-0.9,1.9-1.9,1.9h-68c-1.1,0-1.9-0.9-1.9-1.9v-0.9c0-1.1,0.9-1.9,1.9-1.9h68 c1.1,0,1.9,0.9,1.9,1.9V28.5')
	path.b0(d='M74,41.2c0,1.1-0.9,1.9-1.9,1.9h-68c-1.1,0-1.9-0.9-1.9-1.9v-0.9c0-1.1,0.9-1.9,1.9-1.9h68 c1.1,0,1.9,0.9,1.9,1.9V41.2')
	path.b1(d='M70.9,57.5H5.2c-2.3,0.1-4,2.1-4,4.4v2.7c0,2.4,1.5,4.9,4,4.9h65.6c2.5,0,4-2.5,4-4.9v-2.7 C74.8,59.6,73.2,57.7,70.9,57.5')
	path.b2(d='M36.6,50.9c-0.9,0.2-1.8,0.7-2.5,1.4c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-2.2-2.2-5.7-2.2-7.8,0l0,0 c-1.3,1.3-3.5,1.3-4.8,0c-1-1-2.4-1.6-3.9-1.6s-2.9,0.6-3.9,1.6c-0.7,0.7-1.5,1-2.4,1s-1.8-0.4-2.4-1c-0.4-0.4-1.1-0.4-1.5,0 s-0.4,1.1,0,1.5c1,1,2.4,1.6,3.9,1.6s2.9-0.6,3.9-1.6c0.6-0.7,1.5-1,2.4-1s1.8,0.4,2.4,1c2.2,2.2,5.7,2.2,7.8,0l0,0 c1.3-1.3,3.4-1.3,4.7-0.1l0.1,0.1c1,1,2.4,1.6,3.9,1.6l0,0l0,0c1.5,0,2.9-0.6,3.9-1.6c0.6-0.6,1.2-0.9,2-0.9 C39.1,53,39,50.4,36.6,50.9z')
	path.b2(d='M35.2,32.1c-0.9,0.2-1.7,0.7-2.4,1.4c-0.6,0.6-1.4,1-2.3,1c-0.9,0-1.7-0.4-2.3-1c-2.1-2.2-5.4-2.2-7.5,0l0,0 c-1.3,1.3-3.4,1.3-4.6,0c-1-1-2.3-1.6-3.8-1.6c-1.4,0-2.7,0.6-3.8,1.6c-0.6,0.7-1.5,1-2.3,1c-0.9,0-1.7-0.4-2.3-1 c-0.4-0.4-1-0.4-1.4,0s-0.4,1.1,0,1.5c1,1,2.3,1.6,3.8,1.6c1.4,0,2.7-0.6,3.8-1.6c0.6-0.7,1.5-1,2.3-1s1.7,0.4,2.3,1 c2.1,2.2,5.4,2.2,7.5,0l0,0c1.2-1.3,3.2-1.3,4.5-0.1l0.1,0.1c1,1,2.3,1.6,3.8,1.6l0,0l0,0c1.4,0,2.7-0.6,3.8-1.6 c0.6-0.6,1.1-0.9,2-0.9C37.7,34.2,37.5,31.6,35.2,32.1z')
	path.b2(d='M71.7,32.1c-0.9,0.2-1.7,0.7-2.4,1.4c-0.6,0.6-1.4,1-2.3,1s-1.7-0.4-2.3-1c-2.1-2.2-5.4-2.2-7.5,0l0,0 c-1.3,1.3-3.4,1.3-4.6,0c-1-1-2.3-1.6-3.8-1.6c-1.4,0-2.8,0.6-3.8,1.6c-0.6,0.7-1.5,1-2.3,1c-0.9,0-1.7-0.4-2.3-1 c-0.4-0.4-1-0.4-1.4,0s-0.4,1.1,0,1.5c1,1,2.3,1.6,3.8,1.6c1.4,0,2.8-0.6,3.8-1.6c0.6-0.7,1.5-1,2.3-1c0.9,0,1.7,0.4,2.3,1 c2.1,2.2,5.4,2.2,7.5,0l0,0c1.2-1.3,3.2-1.3,4.5-0.1l0.1,0.1c1,1,2.3,1.6,3.8,1.6l0,0l0,0c1.4,0,2.7-0.6,3.7-1.6 c0.6-0.6,1.1-0.9,2-0.9C74.1,34.2,74,31.6,71.7,32.1z')
	path.b2(d='M42.7,34.6c-0.9,0-1.7-0.4-2.3-1c-2.1-2.2-5.4-2.2-7.5,0l0,0c-1.3,1.3-3.4,1.3-4.6,0c-1-1-2.3-1.6-3.8-1.6 c-1.4,0-2.7,0.6-3.8,1.6c-0.6,0.7-1.5,1-2.3,1c-0.5,0-1-0.1-1.4-0.4c-0.3,0.6-0.5,1.3-0.7,2c0.7,0.3,1.4,0.5,2.2,0.5 c1.4,0,2.7-0.6,3.8-1.6c0.6-0.7,1.5-1,2.3-1c0.9,0,1.7,0.4,2.3,1c2.1,2.2,5.4,2.2,7.5,0l0,0c1.2-1.3,3.2-1.3,4.5-0.1l0.1,0.1 c1,1,2.3,1.6,3.8,1.6l0,0l0,0c0.8,0,1.5-0.2,2.2-0.5c-0.1-0.7-0.3-1.4-0.5-2.1C43.9,34.4,43.3,34.6,42.7,34.6z')
	path.b2(d='M74.6,52.6c-0.4-0.4-1.1-0.4-1.5,0c-0.7,0.7-1.5,1-2.4,1s-1.8-0.4-2.4-1c-0.8-0.8-1.3-1.2-2.4-1.4 c-2.4-0.7-2.3,1.9-1,2.1c0.9,0.1,1.2,0.1,1.9,0.8c1,1,2.4,1.6,3.9,1.6s2.9-0.6,3.9-1.6C75,53.7,75,53,74.6,52.6z')
	path.b3(d='M50.8,56.6c-3,0-5-1.3-5.6-1.7c-1.1-0.6-4.1-4.2-7.5-5c-1.9-0.4-4.7-0.3-6.9-0.3c-0.7,0-1.4,0-2.1,0 c-0.5,0-1,0-1.5,0c-0.8,0-1.6-0.1-2.4-0.1c-0.9,0-1.9-0.1-2.8-0.1c-0.7,0-3.7,0-7.1,0c-5.1,0-11.2,0-11.7,0c-1.3,0-2.4-1.1-2.4-2.4 v-0.3c0-1.3,1.1-2.4,2.4-2.4h69.6c1.3,0,2.4,1.1,2.4,2.4V47c0,1.3-1.1,2.4-2.4,2.4H72h-2c-0.6,0-1.3,0-1.9,0 c-3.7,0.3-6.3,1.9-8.2,3.3c-1.5,1.1-2.6,1.9-3.8,2.5C54.4,56.1,52.6,56.6,50.8,56.6')
	path.b4(d='M30,17.6c0,0.6-0.6,2.3-1.2,2.3c-0.6,0-1-1.8-1-2.4s0.6-1.1,1.2-1.1C29.6,16.4,30,17,30,17.6z')
	path.b4(d='M58.3,16.2c-0.1,0.6-1.9,0.8-2.5,0.7c-0.6-0.1-1-0.7-0.9-1.3c0.1-0.6,0.7-1,1.3-0.9 C56.8,14.8,58.4,15.6,58.3,16.2z')
	path.b5(d='M71.8,19.8C67.1,9.1,53.8,1.4,38,1.4C22.3,1.4,8.9,9.1,4.2,19.8c-0.3,0.6-0.2,1.3,0.1,1.8s0.9,0.8,1.6,0.8H70 c0.6,0,1.2-0.3,1.6-0.8C72,21.1,72,20.4,71.8,19.8')
	path.b6(d='M45.6,17.6L45.6,17.6c-0.2,0-0.3,0.2-0.3,0.3c0,0.2,0.1,0.3,0.3,0.3s0.3-0.2,0.3-0.3 C45.9,17.7,45.8,17.6,45.6,17.6 M45.7,18.2v-0.1c0,0,0-0.1-0.1-0.1l0,0L45.7,18.2h-0.2v-0.4c0,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0v0.1 c0,0,0,0.1-0.1,0.1l0,0c0,0,0.1,0,0.1,0.1s0,0.1,0,0.1S45.7,18.2,45.7,18.2z')
	path.b1(d='M74.7,20.5c-5.1-11.6-19.6-20-36.6-20c-17.2,0-31.6,8.4-36.7,20c-0.3,0.6-0.2,1.4,0.2,1.9 c0.4,0.6,1,0.9,1.7,0.9h69.6c0.7,0,1.3-0.3,1.7-0.9C74.9,21.8,74.9,21.1,74.7,20.5 M13.3,13c-0.6,0.2-2.4,0.3-2.6-0.3 c-0.2-0.6,1.2-1.6,1.8-1.9c0.6-0.2,1.2,0.1,1.4,0.7C14.1,12.1,13.8,12.8,13.3,13z M20.6,16.9c0,0.6-0.6,2.3-1.2,2.3s-1-1.8-1-2.4 s0.6-1.1,1.2-1.1C20.1,15.7,20.6,16.2,20.6,16.9z M21.8,8.6c-0.3,0.5-1.6,1.8-2.1,1.5s-0.2-2,0.1-2.6c0.3-0.5,1-0.7,1.5-0.4 C21.9,7.4,22.1,8.1,21.8,8.6z M25.7,14c-0.6,0.2-1.7-1.1-2-1.7c-0.2-0.6,0-1.2,0.6-1.5c0.6-0.2,1.2,0,1.5,0.6 C26.1,12,26.3,13.8,25.7,14z M29,9.1c-0.5,0.4-1.2,0.4-1.6-0.1c-0.4-0.5-1.1-2.1-0.7-2.5c0.5-0.4,2,0.6,2.4,1 C29.5,8,29.4,8.7,29,9.1z M42.7,18.4c0-6.6-1-12-2.3-12s-2.3,5-2.3,11.1h-1.8c0-6.1-1-11.1-2.3-11.1s-2.3,5.4-2.3,12h-1.8 c0-7.2,1.8-13,4.1-13c1.3,0,2.4,1.7,3.2,4.5c0.8-2.7,1.9-4.5,3.2-4.5c2.3,0,4.1,5.8,4.1,13H42.7z M45.6,18.4c-0.3,0-0.5-0.2-0.5-0.4 c0-0.2,0.2-0.4,0.5-0.4l0,0c0.3,0,0.4,0.2,0.4,0.4C46,18.2,45.8,18.4,45.6,18.4z M50.6,14.5c-0.3,0.6-1.4,1.9-2,1.6s-0.3-2,0-2.6 s0.9-0.8,1.5-0.5C50.6,13.3,50.9,13.9,50.6,14.5z M53.9,11c-0.1,0.6-0.7,1-1.4,0.8c-0.6-0.1-1-0.7-0.8-1.4c0.1-0.6,1-2.1,1.6-2 C54,8.6,54.1,10.4,53.9,11z M58.3,16.2c-0.1,0.6-1.9,0.8-2.5,0.7c-0.6-0.1-1-0.7-0.9-1.3c0.1-0.6,0.7-1,1.3-0.9 C56.8,14.8,58.4,15.6,58.3,16.2z M62.4,14.3c-0.5,0.3-1.2,0.1-1.5-0.4s-0.1-1.2,0.4-1.5s2.3-0.7,2.6-0.2 C64.1,12.7,62.9,14,62.4,14.3z')
	path.b6(d='M45.6,17.8C45.5,17.8,45.5,17.8,45.6,17.8l-0.1,0.1l0,0C45.6,17.9,45.7,17.9,45.6,17.8 C45.7,17.8,45.6,17.8,45.6,17.8')