svg(version='1.1', id='flash', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 83 89', style='enable-background:new 0 0 83 89;', xml:space='preserve')
	style(type='text/css').
		.f0{fill:#FFD61C;}
		.f1{fill:#F7E1A5;}
	path.st0(d='M40.2,47.8c0,0-13.6,31.2-10.2,31.6c3.4,0.4,39.9-33.7,39.5-36.5c-0.4-2.8-24-7.2-22.8-9.4S63.5,9.3,60.4,9.2 c-3.2-0.1-46.3,30-37.9,32.9S42.6,44.1,40.2,47.8z')
	path.f1(d='M44.8,3.1l0.2,7.8c0,0.8-0.6,1.4-1.3,1.4c-0.8,0-1.4-0.6-1.4-1.3l-1.4-7.4c0-0.8,1.4-2.9,2.2-3 C43.9,0.6,44.7,2.3,44.8,3.1z')
	path.f1(d='M77.2,24l-8.3,4.2c-0.8,0.4-1.8,0.1-2.2-0.7c-0.4-0.8-0.1-1.8,0.7-2.2l7.2-5.1c0.8-0.4,3.9,0,4.3,0.8 C79.3,21.8,78,23.6,77.2,24z')
	path.f1(d='M79.1,66.9l-8-4.7c-0.8-0.4-1.1-1.4-0.7-2.1s1.4-0.9,2.2-0.4l8.1,3.4c0.8,0.4,2.1,3.1,1.7,3.8 C82.1,67.7,79.9,67.4,79.1,66.9z')
	path.f1(d='M45.4,85.8l-1-9.2c-0.1-0.9,0.4-1.7,1.2-1.8c0.8-0.1,1.5,0.6,1.7,1.5l2.2,8.5c0.1,0.9-1.2,3.6-2,3.7 C46.7,88.4,45.6,86.7,45.4,85.8z')
	path.f1(d='M15.3,73.2l5.3-5.6c0.5-0.6,1.4-0.6,1.9-0.1c0.6,0.5,0.6,1.4,0.1,1.9l-4.2,6c-0.5,0.6-3.1,1.1-3.6,0.5 C14.3,75.4,14.8,73.7,15.3,73.2z')
	path.f1(d='M3.1,42.8l8.3-0.3c0.8,0,1.5,0.5,1.5,1.3c0,0.8-0.6,1.4-1.4,1.5l-7.8,1.4c-0.8,0-3.1-1.4-3.2-2.1 C0.5,43.7,2.3,42.8,3.1,42.8z')
	path.f1(d='M19.8,15.4l5.8,7.1c0.6,0.7,0.5,1.7-0.1,2.3c-0.7,0.6-1.6,0.5-2.2-0.2l-6.5-5.8c-0.6-0.7-0.9-3.8-0.2-4.4 C17.2,13.8,19.2,14.7,19.8,15.4z')