.content.gallery.pt-page
	.container
		ul.filter
			li.js-gallery-filter.audio-action.active(data-category="all" data-hover-audio="filterHover" data-click-audio="filterClick")
				i.icon.all
					include star
				span.hidden-xs Всі історії
			li.js-gallery-filter.audio-action(data-category="tasty" data-hover-audio="filterHover" data-click-audio="filterClick")
				i.icon.tasty
					include burger
				span.hidden-xs Смачні моменти
			li.js-gallery-filter.audio-action(data-category="happy" data-hover-audio="filterHover" data-click-audio="filterClick")
				i.icon.happy
					include smile
				span.hidden-xs Веселі історії
			li.js-gallery-filter.audio-action(data-category="love" data-hover-audio="filterHover" data-click-audio="filterClick")
				i.icon.love
					include heart
				span.hidden-xs Романтичні миті
			li.js-gallery-filter.audio-action(data-category="bright" data-hover-audio="filterHover" data-click-audio="filterClick")
				i.icon.bright
					include flash
				span.hidden-xs Яскраві події
		.grid-wrap
			.grid
				//- .grid-item(data-category="all")
				//- 	.item-wrap
				//- 		.item
				//- 			img(src='/i/1.jpg')
				//- 			.mask.desc
				//- 				h2 1 Anna_summer
				//- 				p
				//- 					| 1 Вранці, після того як відведу сина у дитячий садок, обов’язково залiтаю на каву і мафін
				//- 				.info
				//- 					span #найкращевсередині
				//- 					.social
				//- 						button.icon.fb
				//- 						button.icon.vk
			.preloader-wrap
				.preloader-dots
					.dot
					.dot
					.dot
					.dot
					.dot
			p.empty.hidden категорія пуста
	.icon-rocket.js-move-top.audio-action.invisible(data-hover-audio="filterHover" data-click-audio="filterClick")
		i.icon.rocket
		span.hidden-xs На початок
.item-full
	button.close.audio-action(data-hover-audio="closeClick")
		i
	.left-panel
		.vertical-align
			.image
				img(src='/i/1.jpg')
	.right-panel
		.vertical-align
			.desc
				.burger-icon
				h2
				p
				.info
					span
					.social
						a.icon.fb.audio-action.js-share-fb(data-hover-audio="iconShareHover" data-click-audio="iconShareClick")
						a.icon.vk.audio-action.js-share-vk(data-hover-audio="iconShareHover" data-click-audio="iconShareClick")