.header.js-header
	.container
		.row
			.logo-box.col-sm-2.col-md-2.col-lg-2
				.logo
					img(src='i/logo.svg' class="js-to-main")
			.actions-box.col-sm-7.col-md-6.col-lg-4.vertCenter.pull-right
				.icon.show-filter.visible-xs.waiting.js-header-slogan
				.rules-box.waiting.js-header-item
					a.rules-title.js-toggle-rules
						span.hidden-xs Призи та правила
						.icon.show-rules.visible-xs
				.btns
					a.icon.fb.waiting.js-header-item.js-share-fb.audio-action(
					data-hover-audio="shareHover"
					data-click-audio="shareClick"
					data-link="mcdonalds.ua"
					data-title="mcdonalds"
					data-img-share="http://www.mcdonalds.ua/cms/modules/_mod_main_slideshow/slide_img/1200x499_Parfe_sait.png"
					data-text="Компанія МакДональдз є світовим лідером у галузі закладів швидкого обслуговування. "
					data-caption="mcdonalds caption")

					a.icon.vk.waiting.js-header-item.js-share-vk.audio-action(
					data-hover-audio="shareHover"
					data-click-audio="shareClick"
					data-link="http://www.mcdonalds.ua/bestinside/"
					data-title="mcdonalds"
					data-img-share="http://www.mcdonalds.ua/bestinside/smp/fotos/alter_bg_111.jpg"
					data-text="Компанія МакДональдз є світовим лідером у галузі закладів швидкого обслуговування. ")
					.icon.sound-button.hidden-xs.waiting.js-header-item.open.audio-toggle-action(data-toggle-class="open" data-on-audio="soundOn" data-off-audio="soundOff")
						button.js-equalizer
							span
							span
							span
							span
							span
			.title-box.col-sm-3.col-md-4.col-lg-offset-2.col-lg-4.best-inside-title.hidden-xs.waiting.js-header-slogan
				a.js-to-main
					.bi-title-wrapper
						span.shake Н
						span.shake а
						span.shake й
						span.shake к
						span.shake р
						span.shake а
						span.shake щ
						span.shake е
					.bi-title-wrapper
						span.shake в
						span.shake с
						span.shake е
						span.shake р
						span.shake е
						span.shake д
						span.shake и
						span.shake н
						span.shake і
