svg(version='1.1', id='heart', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='5 -5 65 65', style='enable-background:new 5 -5 65 65;', xml:space='preserve')
	style(type='text/css').
		.h0{fill:#D86780;}
		.h3{fill:#E9AAB8;}
	path.h0(d='M58,56.5C58.3,62-0.8,52.6,8.1,24c5-16.1,23.7-9.9,23.7-9.9S38.5-5.3,51.7-1.5C84.5,7.7,57.5,48.1,58,56.5z')
	path.h3(d='M25.8,41.8c7,1.8,10.5,1,10.5,1s-4.4-6.9-7.1-14.7c-4.8-14-11.4-8-12.1,1.4C16.5,37.7,23.2,41.1,25.8,41.8z')