.preloader-wrapper
	.sandwich-block.js-sandwich
		.sandwich
		.digits.sesame-font.js-digits
	.slogan-block
		.slogan.js-slogan приготуйтесь
			br 
			small до найкращого
	.hand-block.hand-block-main.js-hand
		.hand
	.hand-block.hand-block-thumb.js-hand
		.thumb
