.container-fluid.home.js-content-main.pt-page
	.burger-wrap
		.burger
			img(id="mainBurger")
			//- img(src='i/burger/burger 2_00000.png' id="mainBurger")
		i.arrow-down.visible-xs.visible-sm.visible-md
		.text-wrap.happy.visible-md.visible-lg
			.text.waiting.js-main-item
				img(src='i/text-happy.png')
			i.waiting.js-main-item
		.text-wrap.love.visible-md.visible-lg
			.text.waiting.js-main-item
				img(src='i/text-love.png')
			i.waiting.js-main-item
		.text-wrap.tasty.visible-md.visible-lg
			.text.waiting.js-main-item
				img(src='i/text-tasty.png')
			i.waiting.js-main-item
		.text-wrap.bright.visible-md.visible-lg
			.text.waiting.js-main-item
				img(src='i/text-bright.png')
			i.waiting.js-main-item
	.scroll-wrap.visible-lg
		.scroll
			img( src='i/scroll.png')