svg(version='1.1', id='smile', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 65 65', style='enable-background:new 0 0 65 65;', xml:space='preserve')
	style(type='text/css').
		.s0{fill:#FFD61C;}
		.s1{fill:#875A4A;}
		.s2{fill:#EA90A3;}
	path.s0(d='M18.5,4.5C34-3.5,53,2.6,60.9,18.1c8,15.5,1.9,34.5-13.6,42.4c-15.5,8-34.5,1.9-42.4-13.6\
	C-3.1,31.4,3,12.4,18.5,4.5z')
	path.s1(d='M16.2,24.6c1.9-2.1,4.7-2.8,6.2-1.5c1.9,1.6,0,3.2-2.2,4.7c-1.6,2.1-2.9,4.8-4.8,3.1\
	C14,29.5,14.3,26.7,16.2,24.6z')
	path.s1(d='M31.4,10.1c1.8-1.3,4-1.1,5.1,0.5c1.3,1.9-1.4,1.5-3.1,2.9c-1.5,1.3-2.7,2.7-3.4,1.7\
	C29,13.7,29.6,11.4,31.4,10.1z')
	g
		path.s1(d='M38.2,32.8c4-4,8.8-6.2,12.8-6.2c-0.3-2.3-1.2-4.4-2.8-6c-4.8-4.8-8.7,2.8-15,9.1c-6.4,6.3-12.8,8.9-8,13.8 c1.8,1.8,4.1,2.8,6.7,2.9C31.6,42.3,33.9,37,38.2,32.8z')
		path.s2(d='M45.3,40.7c4.2-4.2,6.2-9.6,5.7-14.2c-3.9,0.1-8.7,2.3-12.8,6.2c-4.3,4.3-6.6,9.5-6.4,13.6 C36.2,46.7,41.3,44.7,45.3,40.7z')