svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 56 55', style='enable-background:new 0 0 56 55;', xml:space='preserve')
	style(type='text/css').
		.st0{fill:#FCBE29;}
		.st3{fill:#F7E1A5;}
	path.st0.ray1(d='M14.6,47c-0.4,0-0.8-0.1-1.1-0.4c-0.6-0.4-0.9-1.1-0.8-1.8l1.4-11.1l-7.6-8.1c-0.5-0.5-0.6-1.2-0.4-1.9\
	c0.2-0.7,0.8-1.2,1.5-1.3l11-2.1l5.4-9.8c0.3-0.6,1-1,1.7-1l0,0c0.7,0,1.3,0.4,1.7,1l5.4,9.8l11,2.1c0.7,0.1,1.2,0.6,1.5,1.3\
	c0.2,0.7,0.1,1.4-0.4,1.9L37,33.8l1.4,11.1c0.1,0.7-0.2,1.4-0.8,1.8c-0.3,0.2-0.7,0.4-1.1,0.4c-0.3,0-0.6-0.1-0.8-0.2l-10.1-4.7\
	l-10.1,4.7C15.2,46.9,14.9,47,14.6,47z')
	path.st3.ray.ray1(d='M39.4,9.9l-2.9,3.7c-0.3,0.4-0.8,0.5-1.3,0.2c-0.4-0.2-0.5-0.7-0.3-1.1l2.2-3.8C37.4,8.5,39,8,39.5,8.2\
	C39.9,8.5,39.7,9.5,39.4,9.9z')
	path.st3.ray.ray2(d='M54.1,24.7l-4.8,0.8c-0.5,0.1-0.9-0.2-1-0.7c-0.1-0.4,0.2-0.9,0.7-0.9l4.4-1.4c0.5-0.1,1.9,0.6,2,1\
	S54.6,24.6,54.1,24.7z')
	path.st3.ray.ray3(d='M46.5,39.8l-4.1-3.9c-0.4-0.4-0.4-0.9,0-1.2s1-0.3,1.5,0.1l4.4,3.2c0.4,0.4,0.7,2.1,0.3,2.4\
	C48.2,40.6,46.9,40.1,46.5,39.8z')
	path.st3.ray.ray4(d='M14.4,52.8l2.2-3.4c0.2-0.3,0.7-0.4,1.1-0.2s0.5,0.7,0.3,1l-1.5,3.5c-0.2,0.3-1.5,0.8-1.9,0.6\
	C14.2,54.1,14.2,53.2,14.4,52.8z')
	path.st3.ray.ray5(d='M35.8,53.6l-1.1-3.9c-0.1-0.4,0.1-0.8,0.6-0.8c0.4-0.1,0.9,0.2,1,0.5l1.6,3.6c0.1,0.4-0.4,1.6-0.9,1.7\
	C36.6,54.7,35.9,54,35.8,53.6z')
	path.st3.ray.ray6(d='M0.8,34.7l4.4-2.2c0.4-0.2,1-0.1,1.2,0.3c0.3,0.4,0.1,0.9-0.3,1.1l-3.8,2.6c-0.4,0.2-2.1,0.1-2.4-0.3\
	C-0.3,35.8,0.3,34.9,0.8,34.7z')
	path.st3.ray.ray7(d='M4.4,12.9l3.2,2.4c0.3,0.2,0.4,0.6,0.1,0.9c-0.3,0.3-0.7,0.3-1,0l-3.4-1.9c-0.3-0.2-0.7-1.4-0.4-1.6\
	C3.1,12.4,4,12.6,4.4,12.9z')
	path.st3.ray.ray8(d='M21.8,1.4v3.3c0,0.3-0.3,0.6-0.6,0.6c-0.4,0-0.7-0.2-0.7-0.5L20,1.7c0-0.3,0.7-1.3,1.1-1.3\
	C21.4,0.4,21.8,1.1,21.8,1.4z')