@css {
	@font-face {
		font-family: 'alborotoregular';
		src: url('../fonts/alboroto-webfont.eot');
		src: url('../fonts/alboroto-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/alboroto-webfont.woff2') format('woff2'),
			 url('../fonts/alboroto-webfont.woff') format('woff'),
			 url('../fonts/alboroto-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'clear_sansregular';
		src: url('../fonts/clearsans-regular-webfont.eot');
		src: url('../fonts/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/clearsans-regular-webfont.woff2') format('woff2'),
			 url('../fonts/clearsans-regular-webfont.woff') format('woff'),
			 url('../fonts/clearsans-regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	@font-face {
		font-family: 'clear_sansbold';
		src: url('../fonts/clearsans-bold-webfont.eot');
		src: url('../fonts/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/clearsans-bold-webfont.woff2') format('woff2'),
			 url('../fonts/clearsans-bold-webfont.woff') format('woff'),
			 url('../fonts/clearsans-bold-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;

	}
}