@css {
	.ink {
	  display: block;
	  position: absolute;
	  background:rgba(153, 85, 100, 0.75);
	  border-radius: 100%;
	  -webkit-transform:scale(0);
	     -moz-transform:scale(0);
	       -o-transform:scale(0);
	          transform:scale(0);
	}

	.animate {
		-webkit-animation:ripple 0.65s linear;
	   -moz-animation:ripple 0.65s linear;
	    -ms-animation:ripple 0.65s linear;
	     -o-animation:ripple 0.65s linear;
	        animation:ripple 0.65s linear;
	}

	@-webkit-keyframes ripple {
	    100% {opacity: 0; -webkit-transform: scale(2.5);}
	}
	@-moz-keyframes ripple {
	    100% {opacity: 0; -moz-transform: scale(2.5);}
	}
	@-o-keyframes ripple {
	    100% {opacity: 0; -o-transform: scale(2.5);}
	}
	@keyframes ripple {
	    100% {opacity: 0; transform: scale(2.5);}
	}
}

@keyframes react {
  0% {
    box-shadow inset 0 0 10px rgba(255,255,255,1)
  }
  100% {
    box-shadow inset 0 0 0px rgba(255,255,255,0.3)
  }
}
@keyframes space {
  0% {
    transform rotate(0deg)
  }
  25% {
  	transform rotate(3deg)
  }
  50% {
  	transform rotate(0deg)
  }
  75% {
  	transform rotate(-3deg)
  }
  100% {
  	transform rotate(0deg)
  }
}

.gallery
	&.content
		padding-top 80px
	.container
		padding-left 0
		padding-right 0
.filter
	list-style none
	padding 10px 75px
	margin 0
	box-sizing border-box
	&:after
		content ""
		display table
		clear both
	li
		width 20%
		float left
		text-align center
		color alpha($pink, 0.6)
		cursor pointer
		box-sizing border-box
		position relative
		i
			box-sizing border-box
			display block
			margin 0 auto 5px
			width 70px
			height 70px
			border-radius 50%
			border 1px solid alpha($pink_filter, 0.2)
			background-position center center
			background-repeat no-repeat
			transition background, border 0.3s ease-in 0s
			text-align center
			&.all
				// background-image url('../i/star.svg')
				background-size 56px 56px
				svg
					width 56px
					height 56px
					top 50%
					margin-top -28px
					position relative
					.ray
						animation-name ligth
						animation-duration 1s
						animation-iteration-count infinite
						animation-play-state paused
						animation-delay 0s
						fill #FFD61C
						&.ray2
							animation-delay 0.5s
						&.ray3
							animation-delay 1.5s
						&.ray5
							animation-delay 0.5s
						&.ray4
							animation-delay 1.5s
						&.ray7
							animation-delay 0.5s
						&.ray6
							animation-delay 1.5s
						&.ray8
							animation-delay 0.5s
			&.tasty
				// background-image url('../i/burger.svg')
				// background-size 44px 41px
				svg
					width 44px
					height 41px
					top 50%
					margin-top -20px
					position relative
					animation-name jump
					animation-duration 0.4s
					animation-iteration-count infinite
					animation-play-state paused
					animation-timing-function cubic-bezier(0, 1.25, 0, 1.5)
			&.happy
				// background-image url('../i/smile.svg')
				// background-size 44px 41px
				svg
					width 44px
					height 41px
					top 50%
					margin-top -20px
					position relative
					animation-name smile
					animation-duration 0.4s
					animation-iteration-count infinite
					animation-play-state paused
			&.love
				// background-image url('../i/heart.svg')
				// background-size 43px 41px
				svg
					width 43px
					height 41px
					top 50%
					margin-top -20px
					position relative
					animation-name pulse
					animation-duration 0.4s
					animation-iteration-count infinite
					animation-play-state paused
			&.bright
				// background-image url('../i/bright.svg')
				// background-size 50px 51px
				svg
					width 50px
					height 51px
					top 50%
					margin-top -25px
					position relative
					opacity 1
					.st0
						animation-name ligth
						animation-duration 1s
						animation-iteration-count infinite
						animation-play-state paused
		span
			font-size 16px
			line-height 18px
			padding 0 27px
			display block
		&:hover
		&.active
			color $pink
			i
				background-color $filter_bg
				border-color $pink_filter
		&:hover
			i
				svg
					animation-play-state running
				&.all
					svg
						.ray
						.st0
							animation-play-state running
.grid-wrap
	padding 0 3px
	box-sizing border-box
	position relative
	padding-bottom 50px
.grid
	&:after
		content ""
		display table
		clear both
	.grid-item
		width 33.33%
		float left
		box-sizing border-box
		opacity 0
		&.lilac
			.item
				background $lilac_1
		&.pink
			.item
				background $pink_1
		&.green
			.item
				background $green_1
		&.new
			// transform matrix(0, 0, 0, 0, 0, 0)
			opacity 0
	.item-wrap
		box-sizing border-box
		padding 3px
	.item
		position relative
		overflow hidden
		cursor pointer
		// background $lilac
		text-align center
		// min-height 180px
		img
			width 100%
			height auto
			display block
			position relative
			transform scaleY(1)
			transition all 0.7s ease-in-out
		.mask
			position absolute
			overflow hidden
			top 0
			bottom 0
			left 0
			transition all 0.5s linear
			padding 20px 15px
			opacity 0
			display flex
			align-items center
			justify-content center
			flex-direction column
			width 100%
			box-sizing border-box
		h2
			position relative
			font-family clearBold, sans-serif
			font-size 15px
			line-height 1
			margin 0 0 10px 0
			color $yellow
		p
			font-size 13px
			line-height 16px
			color $white
			margin-bottom 5px
		.info
			span
				font-size 13px
				line-height 18px
				color $yellow
				font-family clearBold, sans-serif
				font-weight bold
			.social
				margin-top 10px
			.icon
				height 36px
				width 36px
		h2
		p
		.info
			opacity 0
			transform scale(0)
			transition all 0.5s linear
		&:hover
			img
				transform scale(10)
				opacity 0
			.mask
				opacity 1
			h2
			p
			.info
				transform scale(1)
				opacity 1
.item-full
	text-align center
	position fixed
	text-align center
	width 100%
	overflow hidden
	top 0
	padding-top 86px
	box-sizing border-box
	height 100%
	z-index -1
	overflow hidden
	&.open
		z-index 100
	.close
		border none
		width 60px
		height 60px
		border-radius 50%
		background $bg_color
		position absolute
		top 50%
		right 0
		left 0
		margin auto
		transform translateY(-50%) scale(0)
		z-index 11
		margin-top 43px
		&:focus
			outline none
		i
			width 31px
			height 31px
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			margin auto
			&:before
			&:after
				content ""
				display block
				width 100%
				height 4px
				border-radius 3px
				background $yellow
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				margin auto
				transition transform 0.1s linear
			&:before
				transform rotate(45deg)
			&:after
				transform rotate(-45deg)
		&:hover
			i
				&:before
					transform rotate(25deg)
				&:after
					transform rotate(-25deg)
	.left-panel
	.right-panel
		padding 40px
		height 50%
		box-sizing border-box
		overflow hidden
		position relative
		background $bg_color
		&:before
			content ""
			display block
			position absolute
			left 0
			right 0
	.left-panel
		transform translate(-100%, 0%) translate3d(0px, 0px, 0px)
		&:before
			top 0
			bottom 3px
			background $green_light
		.vertical-align
			height 100%
			overflow hidden
		.image
			height 100%
			display flex
			align-items center
			justify-content center
			transform translate(-100%, 0%) translate3d(0px, 0px, 0px)
			img
				display block
				margin 0 auto
				max-width 100%
				height auto
				// max-height 100%
				// width auto
	.right-panel
		transform translate(100%, 0%) translate3d(0px, 0px, 0px)
		&:before
			top 3px
			bottom 0
			background $green_dark
		.burger-icon
			width 121px
			height 110px
			margin 0 auto 15px
			background url('../i/bg-burger.png') no-repeat center center / 121px 110px
			position relative
			&:after
				content ""
				position absolute
				display block
				top 0
				left 0
				height 100%
				width 100%
				background-position center center
				background-repeat no-repeat
		.burger-icon
		h2
		p
		.info
			transform translate(100%, 0%) translate3d(0px, 0px, 0px)
		h2
			font-family clearBold, sans-serif
			font-size 18px
			line-height 1
			margin 0 0 15px 0
			color $yellow
			font-weight bold
		p
			font-size 14px
			color $white
			margin 0 auto 24px
		.info
			span
				font-size 18px
				line-height 22px
				color $yellow
				font-weight bold
				margin-bottom 18px
				display block
			.social
				.icon
					&.vk
						margin-left 26px
	.vertical-align
		position relative
		top 50%
		left 50%
		width 80%
		transform translate(-50%, -50%)
// color - category - icon dependency
.item-full
	&.all
		.burger-icon
			&:after
				background-image url('../i/star.svg')
				background-size 88px 86px
	&.tasty
		.burger-icon
			&:after
				background-image url('../i/burger.svg')
				background-size 88px 86px
	&.happy
		.burger-icon
			&:after
				background-image url('../i/smile.svg')
				background-size 66px 62px
	&.love
		.burger-icon
			&:after
				background-image url('../i/heart.svg')
				background-size 72px 73px
	&.bright
		.burger-icon
			&:after
				background-image url('../i/bright.svg')
				background-size 82px 75px
	&.lilac
		.left-panel
			&:before
				background $lilac_2
		.right-panel
			&:before
				background $lilac_1
	&.pink
		.left-panel
			&:before
				background $pink_2
		.right-panel
			&:before
				background $pink_1
	&.green
		.left-panel
			&:before
				background $green_2
		.right-panel
			&:before
				background $green_1
	&.no-photo
		.left-panel
			.image
				background url('../i/bg-burger.png') no-repeat center center / 272px 247px
				// height 247px
				img
					display none
				&:before
					content ""
					display block
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					background-repeat no-repeat
					background-position center center
		&.all
			.left-panel
				.image
					&:before
						background-image url('../i/star.svg')
						background-size 198px 193px
		&.tasty
			.left-panel
				.image
					&:before
						background-image url('../i/burger.svg')
						background-size 165px 170px
		&.happy
			.left-panel
				.image
					&:before
						background-image url('../i/smile.svg')
						background-size 148px 139px
		&.love
			.left-panel
				.image
					&:before
						background-image url('../i/heart.svg')
						background-size 162px 163px
		&.bright
			.left-panel
				.image
					&:before
						background-image url('../i/bright.svg')
						background-size 145px 129px
		.right-panel
			.burger-icon
				height 0
@media (max-width: 479px)
	.filter
		padding 12px 0
	.grid
		.grid-item
			width 100%
	.item-full
		padding-top 65px
		.vertical-align
			width 100%
		.left-panel
			padding 15px
@media (min-width: 480px) and (max-width: 749px)
	.filter
		padding 6px 0
	.grid
		.grid-item
			width 50%
	.item-full
		padding-top 65px
@media (max-width: 749px)
	.gallery
		&.content
			padding 59px 0 0
	.filter
		position fixed
		top 59px
		right 0
		left 0
		width 100%
		transform translateY(-100%)
		transition-property opacity, transform
		transition-delay 0.3s, 0s
		transition-duration 0s, 0.3s
		transition-timing-function linear, linear
		// transition transform 0.3s linear 0s
		z-index 20
		background $bg_color
		opacity 0
		&.open
			transform translateY(0)
			transition-delay 0s, 0s
			opacity 1
		li
			i
				width 56px
				height 56px
				&.all
				&.bright
					// background-size 45px 44px
					svg
						width auto
						height 80%
						padding-top 10%
				&.tasty
					// background-size 35px 34px
					svg
						width 35px
						height 34px
				&.happy
					// background-size 39px 40px
					svg
						width 39px
						height 40px
				&.love
					// background-size 33px 32px
					svg
						width 33px
						height 32px
				&.bright
					// background-size 40px 41px
	.grid-wrap
		padding 3px 3px 50px
@media (min-width: 749px) and (max-width: 969px)
	.item-full
		.right-panel
			p
				width 460px
@media (min-width: 970px) and (max-width: 1679px)
	.filter
		padding 6px 35px
		li
			padding-left 80px
			position relative
			height 70px
			text-align left
			&:after
				content ""
				display table
				clear both
			i
				position absolute
				top 0
				left 0
			span
				padding 0 10px 0 0
				position relative
				top 50%
				transform translateY(-50%)
@media (min-width: 1170px) and (max-width: 1679px)
	.gallery
		&.content
			padding-top 80px
		.container
			padding 0 50px
	.filter
		padding 6px 65px
		li
			padding-right 30px
@media (min-width: 970px)
	.grid
		.grid-item
			width 25%
	.item-full
		.left-panel
		.right-panel
			padding 40px
			height 100%
			width 50%
			float left
			margin 0
			&:before
				top 0
				bottom 0
		.left-panel
			&:before
				right 3px
		.right-panel
			&:before
				left 3px
@media (min-width: 1680px)
	.gallery
		&.content
			padding-left 0
			padding-right 0
		.container
			width 1236px
	.filter
		position fixed
		top 50%
		left 40px
		transform translateY(-50%)
		padding 0
		li
			float none
			width auto
			margin-bottom 9px
			span
				position absolute
				left 100%
				padding 0 0 0 10px
				top 50%
				transform translateY(-50%)
				text-align left
				opacity 0
				visibility hidden
			&:hover
				span
					opacity 1
					visibility visible
	.grid-wrap
		padding-top 3px
	.grid
		.item
			.mask
				padding 20px
			h2
				font-size 18px
				margin 0 0 12px 0
			p
				font-size 16px
				line-height 19px
			.info
				.social
					margin-top 15px
				span
					font-size 18px
					line-height 22px
				.icon
					height 46px
					width 46px
	.item-full
		.right-panel
			p
				font-size 16px
				max-width 460px
			.burger-icon
				width 144px
				height 130px
				background-size 100% 100%
// additional classes
.empty
	text-align center
// move to top icon
.icon-rocket
	position fixed
	left 35px
	bottom 35px
	z-index 100
	&:hover
		span
			opacity 1
	.rocket
		background-image url('../i/rocket.svg')
		background-position center 10px
		background-size 34px 87px
		background-repeat no-repeat
		transition background ease 1s
		width 70px
		height 70px
		border 1px solid alpha($pink_filter, 0.2)
		&:hover
			animation space infinite .2s
			border-color $pink_filter
			background-color $white
		&.running
			animation-play-state paused
			background-position center -120px
		&:after
			content ''
			position absolute
			bottom -5px
			left 27px
			width 13px
			height 12px
			border-radius 50%
			box-shadow inset 0 0 10px rgba(255,255,255,1)
			animation react infinite .5s paused
		&:hover
			&:after
				animation-play-state running
	span
		position absolute
		top 50%
		left 100%
		display block
		min-width 100px
		color $pink
		font-size 16px
		transform translateY(-50%)
		padding-left 10px
		opacity 0
@media (max-width: 749px)
	.icon-rocket
		bottom 15px
		left 15px
@keyframes ligth {
	0% {
		opacity 1
	}
	8% {
		opacity 0
	}
	100% {
		opacity 1
	}
}
@keyframes jump {
	0% {
		transform translateY(0%)
	}
	50% {
		transform translateY(-5%)
	}
	100% {
		transform translateY(0%)
	}
}
@keyframes smile {
	0% {
		transform rotate(0deg)
	}
	50% {
		transform rotate(30deg)
	}
	100% {
		transform rotate(0deg)
	}
}
@keyframes pulse {
	0% {
		transform scale(1)
	}
	50% {
		transform scale(1.2)
	}
	100% {
		transform scale(1)
	}
}