body
html
	height 100%
html
	&.main
		overflow hidden
body
	background $bg_color
	font-family clearRegular, sans-serif
	-webkit-font-smoothing antialiased
p
	margin 0
	color $pink
a
	cursor pointer
	&:focus
		outline none

.full-content
	height 100%
	transition: transform ease .75s;
.icon
	width 45px
	height 45px
	border-radius 50%
	border 1px solid alpha($white, 0.4)
	display inline-block
	transition background 0.3s ease-in 0s
	cursor pointer
	box-sizing border-box
	position relative
	overflow hidden
	&.vk
	&.fb
		background-position center center
		background-repeat no-repeat
		background-color transparent
		&:before
			content ""
			position absolute
			border-radius 50%
			width 5px
			height 5px
			bottom -15px
			left -15px
			background $white
			transition 0.7s
			z-index -1
		&:hover
			background-color transparent
			&:before
				right auto
				width 75px
				height 75px
	&.vk
		background-image url('../i/vk.svg')
		margin-left 10px
	&.fb
		background-image url('../i/fb.svg')
	&:hover
		border-color $white
		background-color $white
.trs-del-0
	transition-delay 0s !important
.sound-button
	@extend .icon
	overflow hidden
	z-index 0
	button
		display block
		border none
		box-shadow none
		width 45px
		height 45px
		position relative
		margin 0 auto
		box-sizing border-box
		padding 0
		background transparent
		overflow hidden
		border-radius 50%
		&:after
			content ""
			display block
			position absolute
			width 100%
			height 100%
			right 0
			bottom -1px
			left 0
			background url('../i/potato-wrap.png') no-repeat center bottom
			z-index 10
			border-radius 50%
			overflow hidden
			z-index -1
		&:focus
			outline none
		&.is-paused
			span
				height 24px !important
				&:first-child
					height 25px !important
				&:nth-child(2)
					height 23px !important
				&:nth-child(3)
					height 23px !important
				&:nth-child(4)
					height 26px !important
				&:last-child
					height 24px !important
		span
			width 3px
			height 25px
			background $yellow
			display block
			position absolute
			bottom 0
			z-index 9
			transition height 0.3s ease-in 0s
			z-index -1
			&:first-child
				left 11px
				height 25px
			&:nth-child(2)
				left 17px
				height 23px
			&:nth-child(3)
				left 22px
				height 23px
			&:nth-child(4)
				left 27px
				height 26px
			&:last-child
				left 31px
				height 24px
	&:not(.open):hover
		outline none
		span
			&:first-child
				height 32px !important
			&:nth-child(2)
				height 25px !important
			&:nth-child(3)
				height 27px !important
			&:nth-child(4)
				height 26px !important
			&:last-child
				height 28px !important
	&.open
		span
			&:first-child
				height 32px
			&:nth-child(2)
				height 25px
			&:nth-child(3)
				height 27px
			&:nth-child(4)
				height 26px
			&:last-child
				height 28px
@keyframes bgAnim {
	0% {
		background $lilac
	}
	50% {
		background $pink_1
	}
	100% {
		background $green_3
	}
}
// helpers
.ovfHid
	overflow hidden
.invisible
	opacity 0
	visibility hidden