.shake
	display inline-block
	animation-name shake
	animation-play-state paused
	animation-duration 12.5s
	animation-iteration-count infinite
	animation-timing-function linear
@keyframes shake {
	0% {
		transform: translate(0, 0) rotate(0)
	}
	2% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	4% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	6% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	8% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	10% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	12% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	14% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	16% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	18% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	20% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	22% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	24% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	26% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	28% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	30% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	32% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	34% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	36% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	38% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	40% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	42% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	44% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	46% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	48% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	50% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	52% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	54% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	56% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	58% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	60% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	62% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	64% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	66% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	68% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	70% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	72% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	74% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	76% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	78% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	80% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	82% {
		transform: translate(0px, 0px) rotate(0.5deg)
	}
	84% {
		transform: translate(1px, 0px) rotate(0.5deg)
	}
	86% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	88% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	90% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	92% {
		transform: translate(1px, 1px) rotate(0.5deg)
	}
	94% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	96% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	98% {
		transform: translate(0px, 1px) rotate(0.5deg)
	}
	100% {
		transform: translate(0, 0) rotate(0)
	}
}

.header
	position relative
	z-index 101
	position fixed
	top 0
	left 0
	width 100%
	box-sizing border-box
	transition background-color linear 1s
	&.bg-static
		background $lilac
	.title-box
	.rules-box
	.show-filter
	.btns .icon.fb
	.btns .icon.vk
	.btns .icon.sound-button
		transition transform cubic-bezier(.1,.9,1,1.4) .25s
	.title-box
		transition-delay 0.3s
	.rules-box
		transition-delay 0.6s
	.btns .icon.fb
		transition-delay 0.9s
	.btns .icon.vk
		transition-delay 1.2s
	.btns .icon.sound-button
		transition-delay 1.5s
	.title-box.waiting
	.rules-box.waiting
	.show-filter.waiting
	.btns .icon.fb.waiting
	.btns .icon.vk.waiting
	.btns .icon.sound-button.waiting
		transform translate(0, -200%)
	.container
		width 100%
	a
		color $white
		cursor pointer
	.logo
		text-align left
		margin 0
		img
			display block
			width 49px
			height 39px
			cursor pointer
	.best-inside-title
		padding-left 5px
		.bi-title-wrapper
			display inline-block
			white-space nowrap
		a
			font-family alborotoRegular, sans-serif
			font-size 27px
			line-height 28px
			letter-spacing 1.5px
			display block
			padding 0
			&:hover
				.shake
					animation-play-state running
	.rules-box
		display inline-block
		vertical-align top
	.rules-title
		font-family clearRegular, sans-serif
		text-transform uppercase
		font-size 18px
		line-height 20px
		position relative
		color alpha($white, 0.6)
		transition color 0.3s ease-in 0s
		//foe hover effect
		overflow hidden
		display block
		padding-bottom 14px
		margin-bottom -14px
		&:before
			content ""
			display block
			position absolute
			bottom 0
			left -4px
			height 14px
			width 972px
			background url('http://6.mistery.biz.ua/line-2.png') no-repeat  left center / 972px 14px
			animation moveLine2 0.8s steps(4) infinite
			animation-play-state paused
			transform translateX(0)
			// width 100%
			// height 4px
			// background url('../i/hover-line.png') repeat-x right bottom
			// transition width, background 0.3s ease-in 0s
			// animation-name moveLine
			// animation-duration 5s
			// animation-iteration-count infinite
			// animation-play-state paused
			// animation-direction normal
			// animation-timing-function linear
		&:hover
			color $white
			&:before
				// width 100%
				animation-play-state running
	.icon
		margin-left 11px
	.btns
		display inline-block
		.icon
			float left
			display block
	.show-filter
		background-image url('../i/star.svg')
		background-color transparent
		background-size 36px 35px
		background-repeat no-repeat
		background-position center center
		&.open
		&:hover
			background-color $lilac_ligth
	.show-rules
		background-image url('../i/gift.svg')
		background-size 31px 20px
		background-repeat no-repeat
		background-position center center
@media (max-width: 479px)
	.header
		padding 5px 15px
		.logo-box
			float left
			padding 3px 0 0 0
		.actions-box
			padding 4px 0 0 0
		.best-inside-title
			clear both
			text-align center
			padding-top 15px
@media (min-width: 480px) and (max-width: 749px)
	.header
		padding 7px 22px
		.logo-box
			float left
			padding 0
		.title-box
			float left
			padding 0
		.actions-box
			padding 0
		.title-box
			display block !important
			width 115px
			margin-left 30px
		.best-inside-title
			a
				font-size 23px
				line-height 1
@media (min-width: 750px)
	.header
		padding 11px 6px
		.logo
			img
				width 70px
				height 54px
		.rules-box
			margin-right 45px
			padding 18px 0px
		.icon
			margin-left 0
		.btns
			.icon
				&.vk
					margin 0 18px
@media (min-width: 970px) and (max-width: 1169px)
	.header
		.logo
			text-align left
			padding-left 15px
		.best-inside-title
			padding-left 5px
			padding-top 10px
			a
				line-height 42px
@media (min-width: 1170px) and (max-width: 1169px)
	.header
		.best-inside-title
			padding-left 10px
			a
				font-size 32px
		.rules-box
			margin-right 20px
@media (min-width: 1170px) and (max-width: 1679px)
	.header
		.logo-box
			width 10%
		.actions-box
			width 40%
		.title-box
			width 50%
			text-align left
			margin-left 0
			padding-top 15px
		.best-inside-title
			a
				font-size 36px
@media (min-width: 1680px)
	.header
		padding 10px 15px
		.container
			width 100%
		.logo
			padding-left 10px
		.best-inside-title
			padding-left 15px
			padding-top 9px
			text-align center
			a
				font-size 44px
				line-height 44px
		.rules-box
			margin-right 65px
		.rules-title
			font-size 24px
@keyframes moveLine {
	from {
		// transform translateX(0)
		background-position right 0 bottom
	}
	to {
		// transform translateX(10%)
		background-position right 100% bottom
	}
}
@keyframes moveLine2 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-972px);
	}
}