// .load-wrap
// 	height 100%
// 	width 100%
// 	position absolute
// 	top 0
// 	right 0
// 	bottom 0
// 	left 0
// 	background $lilac
// 	.title
// 		margin 0
// 		padding 0
// 		font-size 40px
// 		line-height 45px
// 		font-weight normal
// 		text-align center
// 		font-family alborotoRegular
// 		color $white
// 		position relative
// 		top 50%
@css {
	.preloader-wrapper{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  min-height: 100vh;
	  overflow: hidden;
	  transition: opacity linear .5s;
	  background-color: #624B9B;
	  font-family: sans-serif;
	  z-index: 14;
	}
	.preloader-wrapper.loaded{
	  opacity: 0;
	  pointer-events: none;
	}
	@font-face{
	  font-family: 'fontello';
	  src: url('../fonts/fontello.eot?93184470');
	  src: url('../fonts/fontello.eot?93184470#iefix') format('embedded-opentype'),
	       url('../fonts/fontello.woff?93184470') format('woff'),
	       url('../fonts/fontello.ttf?93184470') format('truetype'),
	       url('../fonts/fontello.svg?93184470#fontello') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	.sesame-font{
	  font-family: "fontello";
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  width: auto;
	  margin-right: .2em;
	  text-align: center;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1em;
	  margin-left: .2em;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.sandwich-block{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 328px;
	  height: 325px;
	  transform: translate(-50%, -50%) scale(1,1);
	  text-align: center;
	  z-index: 2;
	}
	.sandwich-block.takeout{
	  animation: takeout linear forwards 3.25s;
	}
	@keyframes takeout{
	  25%{top: 50%;}
	  100%{margin-top: 0; top: 150%;}
	}
	.sandwich-block .sandwich{
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: url('../i/sandwich.png') 0 0/cover no-repeat;
	  z-index: 2;
	}
	.sandwich-block .digits{
	  position: relative;
	  margin: 0;
	  font-size: 150px;
	  line-height: 325px;
	  transition: opacity linear .5s;
	  color: #fff;
	  opacity: 1;
	  z-index: 5;
	}
	.sandwich-block .digits.loaded{
		opacity: 0;
		pointer-events: none;
	}
	.slogan-block{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(78%,-47%);
	}
	.slogan-block .slogan{
	  display: inline-block;
	  transition: transform cubic-bezier(.1,.9,1,1.2) .75s;
	  transform: scale(0,0);
	  text-transform: uppercase;
	  font-family: 'alborotoregular';
	  font-size: 44px;
	  line-height: 40px;
	  letter-spacing: 2px;
	  color: #fff;
	}
	.slogan-block .slogan small{
		font-size: 40px;
	}
	.slogan-block .slogan.show{
	  transform: scale(1,1);
	}
	.hand-block{
	  position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -71px;
	  width: 284px;
	  height: 942px;
	  transform: translate(-7.5%, 100%) rotate(-15deg);
	}
	.hand-block .hand{
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: url('../i/hand.png') 0 0/cover no-repeat;
	  z-index: 3;
	}
	.hand-block .thumb{
	  position: absolute;
	  top: 60px;
	  left: 97px;
	  width: 32px;
	  height: 71px;
	  background: url('../i/thumb.png') 0 0/cover no-repeat;
	  z-index: 1;
	}
	.hand-block-main{
	  z-index: 3;
	}
	.hand-block-thumb{
	  z-index: 1;
	}
	.hand-block.catch{
	  animation: catch linear forwards 2s;
	}
	@keyframes catch{
	  40%{bottom: 50vh;}
	  100%{bottom: 0vh;}
	}
	@media screen and (max-width: 1679px) {
		.sandwich-block{
			width: 253px;
			height: 250px;
		}
		.sandwich-block .digits{
			font-size: 115px;
			line-height: 254px;
		}
		.slogan-block{
			margin: -3px 0 0 -35px;
		}
		.slogan-block .slogan{
			font-size: 42px;
			line-height: 42px;
		}
		.slogan-block .slogan small{
			font-size: 38px;
		}
		.hand-block{
			margin-left: -58px;
			width: 219px;
			height: 725px;
		}
		.hand-block .thumb{
			top: 46px;
			left: 75px;
			width: 25px;
			height: 55px;
		}
	}
	@media screen and (max-width: 1169px) {
		.sandwich-block{
			width: 241px;
			height: 237px;
		}
		.sandwich-block .digits{
			font-size: 109px;
			line-height: 241px;
		}
		.slogan-block{
			margin-left: -55px;
		}
		.slogan-block .slogan{
			font-size: 40px;
			line-height: 40px;
		}
		.slogan-block .slogan small{
			font-size: 36px;
		}
		.hand-block{
			width: 209px;
			height: 689px;
		}
		.hand-block .thumb{
			top: 43px;
			left: 71px;
			width: 24px;
			height: 54px;
		}
	}
	@media screen and (max-width: 969px) {
		.slogan-block{
			margin: -193px 0 0 -318px;
		}
		.slogan-block .slogan{
			font-size: 44px;
			line-height: 45px;
		}
		.slogan-block .slogan small{
			font-size: 40px;
		}
	}
	@media screen and (min-width: 480px) and (max-width: 749px) {
		.sandwich-block{
			width: 157px;
			height: 154px;
		}
		.sandwich-block .digits{
			font-size: 71px;
			line-height: 154px;
		}
		.hand-block{
			margin-left: -38px;
			width: 136px;
			height: 448px;
		}
		.slogan-block{
			margin: -6px 0 0 -8px;
		}
		.slogan-block .slogan{
			font-size: 23px;
			line-height: 24px;
			letter-spacing: 1.2px;
		}
		.slogan-block .slogan small{
			font-size: 20px;
		}
		.hand-block .thumb{
			top: 28px;
			left: 46px;
			width: 16px;
			height: 35px;
		}
	}
	@media screen and (max-width: 479px) {
		.sandwich-block{
			width: 166px;
			height: 164px;
		}
		.sandwich-block .digits{
			font-size: 74px;
			line-height: 164px;
		}
		.slogan-block{
			margin: -136px 0 0 -224px;
		}
		.slogan-block .slogan{
			font-size: 31px;
			line-height: 32px;
			letter-spacing: 1.2px;
		}
		.slogan-block .slogan small{
			font-size: 28px;
		}
		.hand-block{
			margin-left: -38px;
			width: 142px;
			height: 469px;
		}
		.hand-block .thumb{
			top: 29px;
			left: 48px;
			width: 17px;
			height: 37px;
		}
	}
}