.home
	height 100%
	background $lilac
	width 100%
	overflow hidden
	position relative
.bg-anim
	animation bgAnim 10s
	animation-iteration-count infinite
	animation-direction alternate
.burger-wrap
	position relative
	width 230px
	margin 60px auto 0
	position relative
	box-sizing border-box
	.burger
		img
			width 100%
			height auto
			display block
			margin 0 auto
.arrow-down
	display block
	width 42px
	height 27px
	position absolute
	right 0
	top 100%
	left 0
	margin auto
	background url('../i/arrow-down.png') no-repeat center center / 42px 27px
@media (max-width: 480px) and (max-height: 460px)
	.burger-wrap
		width 200px
@media (min-width: 480px) and (max-width: 749px)
	.burger-wrap
		width 140px
@media (min-width: 750px) and (max-width: 969px)
	.burger-wrap
		margin-top 80px
		width 460px
@media (min-width: 970px) and (max-width: 1169px)
	.burger-wrap
		margin-top 80px
		width 350px
@media (min-width: 1170px) and (max-width: 1679px)
	.burger-wrap
		margin-top 80px
		width 390px
@media (min-width: 1680px)
	.burger-wrap
		margin-top 80px
		width 460px

// text and icons animation
.text-wrap
	position absolute
	box-sizing border-box
	.text
		width 100%
		height 100%
		overflow hidden
		position relative
		transition opacity linear .5s
		opacity 1
		&.waiting
			opacity 0
	img
		position absolute
		top 0
		left 0
	i
		position absolute
		width 64px
		height 68px
		top 0
		background-position center center
		background-repeat no-repeat
		transition opacity linear .5s
		opacity 1
		&.waiting
			opacity 0
	&.happy
		bottom 0
		right 100%
		width 242px
		height 175px
		img
			animation shakeHappy 1s steps(5, end) infinite
		i
			transform rotate(20deg)
			left 100%
			background-image url('../i/smile.svg')
	&.love
		top 0
		right 100%
		width 245px
		height 159px
		img
			animation shakeLove 1s steps(5, end) infinite
		i
			left 100%
			background-image url('../i/heart.svg')
			transform rotate(40deg)
	&.tasty
		bottom 0
		left 100%
		width 271px
		height 169px
		img
			animation shakeTasty 1s steps(5, end) infinite
		i
			right 100%
			background-image url('../i/burger.svg')
			transform rotate(10deg)
	&.bright
		top 0
		left 100%
		width 203px
		height 149px
		img
			animation shakeBright 1.2s steps(6, end) infinite
		i
			right 100%
			background-image url('../i/bright.svg')
@media (min-width: 970px) and (max-width: 1169px)
	.text-wrap
		.text
			transform scale(0.8)
		&.happy
			bottom 15%
			right 115%
			i
				margin-left -30px
				top 15%
				background-size 50px 50px
		&.love
			top 30%
			right 115%
			i
				margin-left -30px
				top 35%
				background-size 50px 48px
		&.tasty
			bottom 15%
			left 115%
			i
				margin-right -25px
				background-size 57px 53px
		&.bright
			top 30%
			left 120%
			i
				margin-right -10px
				top 25%
				background-size 64px 68px
@media (min-width: 1170px) and (max-width: 1679px)
	.text-wrap
		.text
			transform scale(0.9)
		&.love
			top 30%
			right 115%
			i
				margin-left -30px
				top 35%
				background-size 54px 52px
		&.happy
			bottom 15%
			right 115%
			i
				margin-left -20px
				top 10%
				background-size 54px 55px
		&.tasty
			bottom 15%
			left 115%
			i
				margin-right -10px
				background-size 59px 64px
		&.bright
			top 32%
			left 120%
			i
				top 25%
				background-size 61px 58px
@media (min-width: 1680px)
	.text-wrap
		i
			width 82px
			height 88px
		&.love
			margin-top 53%
			margin-right 20%
			i
				background-size 63px 62px
				top 40%
		&.happy
			margin-bottom 30%
			margin-right 20%
			i
				background-size 64px 64px
		&.tasty
			margin-bottom 35%
			margin-left 20%
			i
				background-size 72px 68px
				top 0
		&.bright
			margin-top 58%
			margin-left 25%
			i
				background-size 82px 88px
				margin-right 10%
				margin-top 15%
@keyframes shakeHappy {
	to {
		transform: translateX(-1210px);
	}
}
@keyframes shakeLove {
	to {
		transform: translateX(-1225px);
	}
}
@keyframes shakeTasty {
	to {
		transform: translateX(-1355px);
	}
}
@keyframes shakeBright {
	to {
		transform: translateX(-1218px);
	}
}
// scroll icon
.scroll-wrap
	position absolute
	right 0
	bottom 0
	left 0
	margin auto
	width 261px
	height 218px
	overflow hidden
	box-sizing border-box
	transform translateY(100%)
	transition transform 0.5s ease-in 0s
	.scroll
		position absolute
		top 0
		left 0
		animation moveScroll1680 2s steps(30, end) infinite
	&.show
		transform translateY(0%)
@media(min-width: 1170px) and (max-width: 1679px)
	.scroll-wrap
		width 200px
		height 204px
		.scroll
			animation moveScroll1170 2s steps(30, end) infinite
			img
				height 204px
				width 6120px
@keyframes moveScroll1680 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-7830px);
	}
}
@keyframes moveScroll1170 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-6120px);
	}
}