// page setting
.full-content
	position relative
.home
.gallery
	position absolute
	left 0
	top 0
.home
	position fixed
.home
	z-index 10
.gallery
	z-index 9
	background $bg_color
	min-height 100%
	right 0
	margin auto
// show active page
.pt-page
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
.pt-page-current
.no-js .pt-page
	visibility visible
.pt-page-ontop
	z-index 13
// fade
.pt-page-fade
	animation fade .7s ease both
	animation-iteration-count 1
@keyframes fade {
	from { }
	to { opacity: 0.3; }
}
// moving
.pt-page-moveFromBottom
	animation moveFromBottom .6s ease both
.pt-page-moveFromTop
	animation moveFromTop .6s ease both
@keyframes moveFromBottom {
	from { transform: translateY(100%); }
}
@keyframes moveFromTop {
	from { transform: translateY(-100%); }
}