.preloader-wrap
	display flex
	justify-content center
	align-items center
	height 50px
	width 100%
	position relative
	position absolute
	right 0
	bottom 0
	left 0
	.preloader-dots
		width 80px
		.dot
			display inline-block
			background $lilac
			height 8px
			width 8px
			opacity 0.3
			border-radius 50%
			animation moveit 1.8s infinite
			&:nth-child(2)
				animation-delay .15s
			&:nth-child(3)
				animation-delay .3s
			&:nth-child(4)
				animation-delay .45s
			&:nth-child(5)
				animation-delay .6s
@keyframes moveit {
	0% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(0px);
		opacity: 0.3;
	}
	50% {
		transform: translateY(-20px);
		opacity: 0.8;
	}
	70% {
		transform: translateY(3px);
		opacity: 0.8;
	}
	85% {
		transform: translateY(-3px);
	}
}