.rules
	position absolute
	top 0
	left 0
	right 0
	background-color #fdf7e7
	transform translate(0, -100%)
	z-index 1
	&.content
		padding-top 80px
	h1
		font-family alborotoRegular, sans-serif
		color $rules_title
		font-size 46px
		line-height 86px
		font-weight normal
		text-align center
		margin 40px 0
		letter-spacing 2px
	.rules-box
		position relative
	.rules-slider
		box-sizing border-box
	.box
		text-align center
		box-sizing border-box
		position relative
		width 30%
		float left
		padding 0 15px
		.image
			display block
			height 142px
			background-image url('../i/rules-bg-2.png')
			background-repeat no-repeat
			background-position center bottom
			background-size 151px 100%
			margin 0 auto 20px
			position relative
			transition transform linear .2s
			transform scale(1,1)
			&.waiting
				transform scale(0,0)
			i
				content ""
				display block
				width 100%
				height 100%
				background-repeat no-repeat
				background-position center center
				transition: transform cubic-bezier(0, 1.25, 0, 1.5) 1s;
				transform translate(0,0)
				&.waiting
					transform translate(0,50%)
			.arrow
				display block
				position absolute
				top 0
				left 100%
				bottom 0
				margin auto 0 auto 10px
				width 19px
				height 30px
				background url('../i/arrow-right.png') no-repeat center center
				transition all ease .5s
				transform translate(0,0)
				opacity 1
				&.waiting
					transform translate(-40px,0)
					opacity 0
		p
			color $rules_p
			font-size 16px
			line-height 20px
			transition opacity ease .5s
			opacity 1
			span
				font-family clearBold, sans-serif
			&.waiting
				opacity 0
		&.box1
			.image
				background-image url('../i/rules-bg-1.png')
				background-size 156px 100%
				transition-delay 0.5s
				i
					position absolute
					top 50%
					left 50%
					margin-left -55px
					margin-top -54px
					width 111px
					height 108px
					transition-delay 0.66s
					.st3
						transition opacity ease .2s
						opacity 1
						&:nth-child(2)
							transition-delay .6s
						&:nth-child(3)
							transition-delay .7s
						&:nth-child(4)
							transition-delay .8s
						&:nth-child(5)
							transition-delay .9s
						&:nth-child(6)
							transition-delay 1s
						&:nth-child(7)
							transition-delay 1.1s
						&:nth-child(8)
							transition-delay 1.2s
						&:nth-child(9)
							transition-delay 1.3s
				.arrow
					transition-delay 0.74s
				&.waiting
					i
						.st3
							transition-delay 0s !important
							opacity 0
			p
				transition-delay 0.82s
		&.box2
			.image
				transition-delay 1s
				i
					background-size 86px 118px
					background-position center bottom
					// background-image url('../i/rules-2.png')
					transition-delay 1.16s

					box-sizing border-box
					// border 1px solid red
					border-radius 50%
					width 170px
					margin auto
					position relative
					overflow hidden
					&:before
						content ""
						width 100%
						height 100%
						display block
						background-size 86px 118px
						background-position center bottom -3px
						background-repeat no-repeat
						background-image url('../i/rules-2.png')
				.arrow
					transition-delay 1.28s
			p
				transition-delay 1.32s
		&.box3
			.image
				transition-delay 1.5s
				i
					background-image url('../i/burger2.svg')
					background-size 83px 93px
					transition-delay 1.66s
			p
				transition-delay 1.82s
	.share-box
		text-align center
		padding 0 0 48px 0
		h4
			font-weight normal
			font-size 20px
			line-height 20px
			color $rules_p
			text-align center
			margin 0 0 25px 0
		.btns
			margin-bottom 20px
			button
				background transparent
				border none
				padding 20px
				width 125px
				height 55px
				box-sizing border-box
				position relative
				overflow hidden
				&:before
					content ""
					display block
					width 100%
					height 100%
					background $rules_title
					position absolute
					top 0
					left 0
					z-index 0
				i
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					background-position center center
					background-repeat no-repeat
					z-index 10
				&.fb
					border-radius 9px 0 0 9px
					i
						border-radius 9px 0 0 9px
						background-size 12px 25px
						background-image url('../i/fb.svg')
				&.vk
					border-radius 0 9px 9px 0
					i
						border-radius 0 9px 9px 0
						background-size 16px 21px
						background-image url('../i/vk.svg')
				span
					position absolute
					display block
					width 0
					height 0
					border-radius 50%
					background $btnYellow
					transform translate(-50%, -50%)
					transition width 0.4s, height 0.4s
					z-index 1
				&:hover
					span
						width 500px
						height 500px
					&.fb
						i
							background-image url('../i/fbPink.svg')
					&.vk
						i
							background-image url('../i/vkPink.svg')
		a
			text-decoration underline
			font-size 16px
			color alpha($rules_p, 0.8)
			&:hover
				color $rules_p
	.bubble
		position relative
		i
			display block
			position absolute
			top 100%
			right 100%
			width 61px
			height 69px
			background url('../i/bubble.png') no-repeat center center / 100% 100%
			transition opacity .5s ease 2.5s
			opacity 1
			&.waiting
				opacity 0
@media (max-width: 479px)
	.rules
		h1
			font-size 39px
			line-height 1
			margin 20px 0
		.box
			padding-bottom 50px
			.image
				.arrow
					display none
		.share-box
			padding-top 30px
			h4
				font-family alborotoRegular, sans-serif
				font-size 35px
				margin-bottom 30px
				line-height 1
				color $rules_title
			.btns
				margin-bottom 30px
			a
				font-size 20px
		.bubble
			&:before
				background-size 51px 57px
@media (min-width: 480px)
	.lSSlideOuter
	.lSSlideWrapper
	.lightSlider
		overflow visible
@media (min-width: 480px) and (max-width: 749px)
	.rules
		h1
			font-size 40px
			line-height 1
		.box
			.image
				height 98px
				background-size 104px 97px
				&:after
					width 14px
					height 22px
					background-size 100% auto
					margin auto 0
			p
				font-size 12px
			&.box1
				.image
					background-size 107px 98px
					i
						margin-left -38px
						margin-top -37.5px
						width 76px
						height 75px
			&.box2
				.image
					i
						width 120px
						&:before
							background-size 60px 81px
			&.box3
				.image
					i
						background-size 57px 64px
		.bubble
			&:before
				right auto
				left 0
				margin-left -35px
				width 49px
				height 54px
		.share-box
			padding 0 0 35px 0
@media (min-width: 750px) and (max-width: 969px)
	.rules
		.rules-box
			padding 0 15px
		.share-box
			padding-top 48
@media (min-width: 970px) and (max-width: 1169px)
	.rules
		h1
			margin 20px 0 10px
		.rules-box
			padding 0 35px
		.share-box
			padding-top 50px
@media (min-width: 1170px) and (max-width: 1679px)
	.rules
		h1
			font-size 44px
			line-height 87px
		.rules-box
			width 750px
			margin 0 auto
		.box
			padding-left 30px
			padding-right 30px
			.image
				height 156px
				background-size 170px 156px
			&.box1
				.image
					background-size 172px 156px
					i
						width 122px
						height 119px
						margin-left -61px
						margin-top -60px
			&.box2
				.image
					i
						width 188px
						&:before
							background-size 97px 130px
			&.box3
				.image
					i
						background-size 92px 104px
@media (min-width: 1680px)
	.rules
		h1
			font-size 52px
			margin 55px 0 20px 0
		.rules-box
			padding 0 150px
		.box
			.image
				height 207px
				background-size 204px 187px
			p
				font-size 18px
			&.box1
				.image
					background-size 207px 187px
					i
						width 146px
						height 142px
						margin-top -73px
						margin-left -71px
			&.box2
				.image
					i
						width 240px
						&:before
							background-size 117px 157px
			&.box3
				.image
					i
						background-size 111px 124px
		.share-box
			padding-top 68px
			h4
				font-size 24px
				margin 0 0 28px 0
			.btns
				button
					width 180px
					height 80px
					&.fb
						border-radius 14px 0 0 14px
						i
							background-size 16px 34px
					&.vk
						border-radius 0 14px 14px 0
						i
							background-size 24px 30px
			a
				font-size 18px
// slider controls
.lSSlideOuter
	.lSPager
		&.lSpg
			padding 0
			margin 0
			list-style none
			position absolute
			right 0
			left 0
			bottom 0
			& > li
				padding 0 8px
				a
					width 11px
					height 11px
					background alpha($sliderPink, 0.4)
				&.active
				&:hover
					a
						background $sliderPink
.lSAction
	& > .lSPrev
	& > .lSNext
		width 19px
		height 30px
		top 50px
		margin-top 0
	& > .lSPrev
		background url('../i/arrow-right.png') no-repeat center center
		transform scale(-1)
		left 15px
	& > .lSNext
		background url('../i/arrow-right.png') no-repeat center center
		right 15px