doctype html
html.ovfHid
	head
		include partials/head
		<!-- @import partials/_dev/dev.jade -->
	body(data-active='main')
		include partials/header
		include partials/load
		.full-content
			include partials/rules
			include partials/main
			include partials/gallery
			include partials/audio